header
{
	min-width: auto;
	background-color: #b58900;
	color: white;
	text-align: center;
}

#conteneur1
{
	display: flex;
}

#conteneur1 img
{
	margin-right: 15px;
}

footer
{
	display: flex;
	background-color: #839496;
	color: white;
	bottom: 0;
	padding-top: 5px;
	width: 100%;
}

#nom
{
	width: 100%;
	text-align: center;
}

#reseaux
{
	width: 100%;
	text-align: center;
}

#conteneur
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

#reseaux ul
{
	list-style-type: none;
	display: flex;
	justify-content: center;
}

#reseaux li
{
	margin-right: 15px;
}

#ulForm
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemForm
{
  background-color: #268bd2;
  color: white;
  font-size: 20px;
  list-style-type: none;
  width: auto;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

#map
{
    height: 400px;
    width: 500px;
}